@use "./variables" as v;

h1 {
  color: v.$brand;
  position: absolute;
  font-size: 8vw;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%-50%;
  //vw view hight vh view hight

}